<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
Tomasz,<p/>
<br/>
I found out that something is not working in Your home network.<p/>
<br/>
Check out some details:<b> $service. </b> This is not expected bahaviour. <br/><br/>
Thanks<br/><br/>
Raspberry.

</body>
</html>